<div class="container">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7 mb-4">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h1 class=" langlao display-5 text-center mb-3">ປ່ຽນລະຫັດຜ່ານ</h1>
            <form action="">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="oldPassword">ລະຫັດຜ່ານເດີມ*</label>
                <input name="oldPassword" (value)="_currentUserdetail===undefined? '':_currentUserdetail.oldpassword" (input)=" _currentUserdetail.oldpassword=$event.target.value" type="password" placeholder="password" class="form-control input-md" required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="newPassword">ລະຫັດຜ່ານໃໝ່* </label>
                <input name="newPassword" (value)="_currentUserdetail===undefined? '' : _currentUserdetail.newpassword" (input)="_currentUserdetail.newpassword=$event.target.value" type="password" placeholder="new password" class="form-control input-md" required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="confirmPassword">ຢັ້ງຢືນລະຫັດຜ່ານ*</label>
                <input name="confirmPassword" (value)="_currentUserdetail===undefined? '' :_currentUserdetail.confirmpassword " (input)="_currentUserdetail.confirmpassword=$event.target.value" type="password" placeholder="confirm password" class="form-control input-md"
                    required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="phone">ເບີໂທລະສັບ*</label>
                <input name="phone" (value)="_currentUserdetail===undefined? '' : _currentUserdetail.phonenumber" (input)="_currentUserdetail.phonenumber=$event.target.value" type="number" placeholder="phonenumber" class="form-control input-md" required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="changePassword"></label>
                <button name="changePassword" (click)='changepassword()' class="btn main-bg-color langlao mt-3" style="width:100%">ສຳເລັບ</button>
            </form>
        </div>
    </div>
</div>

<!-- the tag below make for alert  -->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-center langlao">ສຳເລັດການປ່ຽນລະຫັດຜ່ານ</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p class="text-center langlao">ທ່ານໄດ້ປ່ຽນລະຫັດຜ່ານແລ້ວ ກະລຸນາລ໋ອກອິນອີກຄັ້ງ&hellip;</p>
        <p class="text-center langlao">ຂໍຂອບໃຈ&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light langlao" (click)="c('Close click')">ຕົກລົງ</button>
    </div>
</ng-template>