<nav class="navbar navbar-expand-md navbar-dark fixed-top bgheader">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
    <span class="navbar-toggler-icon">

    </span>
  </button>
  <div class="mr-auto">
    <button class="btn" [routerLink]="['/index']">HOME</button>
    <!-- <a [routerLink]="['/index']"><img class="mr-auto" src="../../assets/logo/Paycheaplogo-header.png" alt="" style="height:50px;"></a> -->
  </div>

  <div class="container">
    <div class="container">
      <div class="collapse navbar-collapse" id="collapse_target">
        <div class="ml-auto">
          <div class="login">
            <ul class="navbar-nav head-right-fonts">
              <li class="dropdown navbar-item border-right-0" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <a class="nav-link text-center change-head-right-color"><i class="fas fa-users"></i>
                  <br>Sign In</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button" id="head-drop-font" [routerLink]="['/login']"><i class="fas fa-user"></i>
                    Sign In</button>
                  <button class="dropdown-item" type="button" id="head-drop-font" [routerLink]="['/register']"><i class="far fa-registered"></i>
                    Register</button>
                  <hr>
                  <button class="dropdown-item" type="button" id="head-drop-font" (click)="logout()"><i class="fas fa-level-down-alt"></i>
                    Logout</button>
                  <hr>
                  <button class="dropdown-item" type="button" id="head-drop-font"><i class="far fa-address-book"></i>
                    For
                    Admin</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="margin-bottom"></div>
