<div class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h5 class="text-center display-5 langlao">Items</h5>
            <div class="input-group ">
                <input type="text " class="form-control custom-formcontrol " placeholder="Search " name="search ">
                <button class="btn-font-color-search btn-search " type="submit "><i class="fas fa-search "></i></button>
            </div>
            <div class="mt-4">
                <div class="col-12 list-group">
                    <button type="button" class="list-group-item list-group-item-action main-bg-color">
                      The Items
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                      <div class="input-group mt-2">
                          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 d-flex align-items-center">
                              <i class="fas fa-tags" id="sale-items"></i>
                          </div>
                          <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-8">
                            <p id="font-size-items1">Item : P5</p>
                            <p id="font-size-items2">Product Code:A009 </p>
                            <p id="font-size-items3">Active</p>
                          </div>
                      </div>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <div class="input-group mt-2">
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 d-flex align-items-center">
                                <i class="fas fa-tags" id="sale-items"></i>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-8">
                                <p id="font-size-items1">Item : P5</p>
                                <p id="font-size-items2">Product Code:A009 </p>
                                <p id="font-size-items3">Active</p>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <div class="input-group mt-2">
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 d-flex align-items-center">
                                <i class="fas fa-tags" id="sale-items"></i>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-8">
                                <p id="font-size-items1">Item : P5</p>
                                <p id="font-size-items2">Product Code:A009 </p>
                                <p id="font-size-items3">Active</p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>