<div class="container">
  <br>
  <h3 class="text-center display-7 mb-4">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
  <h1 class=" langlao display-5 text-center mb-3">ລະບົບເຕີມເງິນອອນລາຍ</h1>
  <div class="row d-flex justify-content-between">
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/hometopup']">
        <a id="padding-item" class="nav-link main-bg-color text-center "><i class="fas fa-mobile-alt "></i><br><span
            class="langlao">ເຕີມເງີນ</span></a>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/ubalance'] ">
        <a id="padding-item " class="nav-link main-bg-color text-center  "><i class="far fa-money-bill-alt"></i><br><span
            class="langlao">ກວດສອບມູນຄ່າໂທ</span></a>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/user-info']">
        <a id="padding-item " class="nav-link main-bg-color text-center  "><i class="far fa-user-circle"></i><br><span
            class="langlao">ຂໍ້ມູນສ່ວນຕົວ</span></a>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/urecharge']">
        <i id="padding-item " class="nav-link main-bg-color text-center  "><i class="fas fa-users"></i><br><i>User-Recharge-Cashier</i></i>
      </div>
    </div>
    <!-- *********************************** -->
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/u-recharge-request']">
        <i id="padding-item " class="nav-link main-bg-color text-center  "><i class="fas fa-street-view"></i><br><i>User-Recharge-Request</i></i>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/transfer-history']">
        <i id="padding-item " class="nav-link main-bg-color text-center  "><i class="fas fa-exchange-alt" id="font-item"></i><br><i>Transfer-History</i></i>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/items']">
        <i id="padding-item " class="nav-link main-bg-color text-center  "><i class="fas fa-sitemap" id="font-item"></i><br><i>Items</i></i>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/item-shop']">
        <i id="padding-item " class="nav-link main-bg-color text-center  "><i class="fas fa-th" id="font-item"></i><br><i>Item-Shop</i></i>
      </div>
    </div>

    <!-- *********************************** -->

    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/admin']">
        <i id="padding-item " class="nav-link main-bg-color text-center  "><i class="fas fa-user-secret" id="font-item"></i><br><i>Admin</i></i>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/admin-history']">
        <i id="padding-item " class="nav-link main-bg-color text-center  "><i class="fas fa-history" id="font-item"></i><br><i>Admin-History</i></i>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/changepassword']">
        <a id="padding-item " class="nav-link main-bg-color text-center  "><i class="fab fa-expeditedssl" id="font-item"></i><br><span
            class="langlao">ປ່ຽນລະຫັດຜ່ານ</span></a>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-6 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/change-phone']">
        <a id="padding-item " class="nav-link main-bg-color text-center  "><i class="fas fa-mobile-alt" id="font-item"></i><br><span
            class="langlao">ປ່ຽນເບີໂທລະສັບ</span></a>
      </div>
    </div>
  </div>
</div>
