<div class="container border-register">
  <h3 class="text-center display-7 mb-4">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
  <h1 class=" langlao display-5 text-center mb-4">ເຕີມເງິນໂທລະສັບ</h1>
  <form action="">
    <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-12 d-flex justify-content-center hidden-xs">
      <div class="topup">
        <div class=" input-group">
          <button class="main-bg-color btn-custom border-radius-topup-left"><i>M-PHONE</i></button>
          <button class="main-bg-color btn-custom border-left-0"><i>UNITEL</i></button>
          <button class="main-bg-color btn-custom border-left-0 border-right-0"><i>BEELINE</i></button>
          <button class="main-bg-color btn-custom border-radius-topup-right"><i>ETL</i></button>
        </div>
        <p class="text-center mt-3">Total Gith:92.000/450.000</p>
        <div class="input-group">
          <input class="form-control-topup border-right-0" type="number" placeholder="100.00" min="1000" max="500000">
          <button class="topup-percent main-bg-color" disabled>(-8%)</button>
        </div>
        <!-- <input class="price-progress-topup mt-4" type="text"> -->
        <!-- <label for="customRange1">Example range</label> -->
        <input type="range" class="custom-range price-progress-topup mt-4" min="0" max="100" id="customRange2">
      </div>
    </div>


    <!-- mobile-start -->
    <div class="col-12 d-flex justify-content-center  d-xl-none d-lg-none d-md-none">
      <div class="row col-12 topup-mobile">
        <button class="main-bg-color btn-mobile"><i>M-PHONE</i></button>
        <button class="main-bg-color btn-mobile"><i>UNITEL</i></button>
        <button class="main-bg-color btn-mobile"><i>BEELINE</i></button>
        <button class="main-bg-color btn-mobile"><i>ETL</i></button>
        <p class="text-center mt-3">Total Gith:92.000/450.000</p>
        <div class="input-group">
          <input class="col-9 form-control-topup border-right-0" type="number" placeholder="100.00" min="1000" max="500000">
          <button class="col-3 topup-percent main-bg-color border-0" disabled>(-8%)</button>
        </div>
        <input class="price-progress-topup mt-4" type="text">
      </div>
    </div>
    <!-- end-mobile -->


    <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-12 d-flex justify-content-center hidden-xs">
      <div class="refillMoney mt-3">
        <ul class="nav">
          <li class="nav-item text-center d-flex align-items-center m-refill" id="width-left-and-right">
            <a class="nav-link form-control main-bg-color langlao" href="#"><i class="fas fa-globe" id="font-refill-money"></i><br><i>ຄ່າອິນເຕີເນັດ</i></a>
          </li>
          <li class="nav-item text-center d-flex align-items-center m-refill" id="width-center">
            <a class="nav-link form-control main-bg-color langlao" href="#"><i class="fas fa-phone" id="font-refill-money"></i><br><i>ຄ່າຕັ້ງໂຕະ
              </i></a>
          </li>
          <li class="nav-item text-center d-flex align-items-center m-refill" id="width-center">
            <a class="nav-link form-control main-bg-color langlao" href="#"><i class="fas fa-mobile-alt" id="font-refill-money"></i><br><i>ຄ່າເບີເຕີມເງິນ</i></a>
          </li>
          <li class="nav-item text-center d-flex align-items-center m-refill" id="width-left-and-right">
            <a class="nav-link form-control main-bg-color langlao" href="#"><i class="far fa-calendar-alt" id="font-refill-money"></i><br><i>ຄ່າເບີລາຍເດືອນ</i></a>
          </li>
        </ul>
      </div>
    </div>


    <!-- mobile-start-icon-refill -->
    <div class="refillMoney col-12 d-flex justify-content-center d-xl-none d-lg-none d-md-none mt-3">
      <div class="row col-12 topup-mobile">
        <button class="main-bg-color btn-mobile langlao"><i class="fas fa-phone mr-2" id="font-refill-money"></i><i>ຄ່າຕັ້ງໂຕະ
          </i></button>
        <button class="main-bg-color btn-mobile langlao"><i class="fas fa-mobile-alt mr-2" id="font-refill-money"></i><i>ຄ່າເບີເຕີມເງິນ</i></button>
        <button class="main-bg-color btn-mobile langlao"><i class="fas fa-globe mr-2" id="font-refill-money"></i><i>ຄ່າອິນເຕີເນັດ</i></button>
        <button class="main-bg-color btn-mobile langlao"><i class="far fa-calendar-alt mr-2" id="font-refill-money"></i><i>ຄ່າເບີລາຍເດືອນ</i></button>
      </div>
    </div>
    <!-- end mobile icon refill -->

    <div class="row col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-12 mt-4 ">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12 ">
        <div class="row ">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-12 ">
            <label for=" " class="mt-2 ">Gith:</label>
          </div>
          <div class="col-xl-9 col-lg-10 col-md-9 col-sm-10 col-12 ">
            <input class="form-control " type="text " placeholder="92.000 ">
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 ">
        <div class="row ">
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-2 col-12 ">
            <label for=" " class="mt-2 ">+85620:</label>
          </div>
          <div class="col-xl-10 col-lg-9 col-md-9 col-sm-10 col-12 ">
            <input class="form-control langlao " type="text " placeholder="ເຕີມເງິນໄປທີ່ເບີ ">
          </div>
        </div>
      </div>
    </div>
    <p class="text-center mt-4 ">
      <button type="submit" class="btn main-bg-color langlao" style="width:40% " (click)="openVerticallyCentered(content) ">ເຕີມເງິນ</button>
      <ng-template #content let-c="close " let-d="dismiss ">
        <div class="modal-header ">
          <h4 class="modal-title text-center langlao ">ສຳເລັດການຕື່ມມູນຄ່າໂທ</h4>
          <button type="button " class="close " aria-label="Close " (click)="d( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <p class="text-center langlao ">ຂອບໃຈທີ່ໃໍຊ້ບໍລິການ&hellip;</p>
          <img src="../../assets/gif/thanks2.gif " alt=" " width="100% ">
        </div>
        <div class="modal-footer ">
          <button type="button " class="btn btn-light " (click)="c( 'Close click') ">Close</button>
        </div>
      </ng-template>
    </p>
  </form>
  <div class="row d-flex justify-content-center mt-4 ">
    <div class="col-xl-8 col-lg-8 col-md-9 col-12 ">
      <div class="input-group ">
        <input type="text " class="form-control custom-formcontrol " placeholder="Search " name="search ">
        <button class="btn-font-color-search btn-search " type="submit "><i class="fas fa-search "></i></button>
      </div>
    </div>
  </div>
  <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 col-md-8 offset-md-2 col-12 d-flex justify-content-center hidden-xs mt-4">
    <div class="topup ">
      <div class="input-group ">
        <button class="main-bg-color btn-custom border-radius-topup-left "><i>2017</i></button>
        <button class="main-bg-color btn-custom border-left-0 border-right-0"><i>2018</i></button>
        <button class="main-bg-color btn-custom border-radius-topup-right "><i>2019</i></button>
      </div>
    </div>
  </div>


  <!-- mobile -->
  <div class="col-12 d-flex justify-content-center d-xl-none d-lg-none d-md-none mt-4 ">
    <div class="topup-mobile ">
      <button class="main-bg-color btn-mobile "><i>2017</i></button>
      <button class="main-bg-color btn-mobile "><i>2018</i></button>
      <button class="main-bg-color btn-mobile "><i>2019</i></button>
    </div>

  </div>
  <!-- end-mobile -->


  <div class="col-xl-8 offset-xl-2 col-12 mb-5 ">
    <div class="months ">
      <nav>
        <ul class="pagination">
          <li><a href="# ">1</a></li>
          <li><a href="# ">2</a></li>
          <li><a href="# ">3</a></li>
          <li><a href="# ">4</a></li>
          <li><a href="# ">5</a></li>
          <li><a href="# ">6</a></li>
          <li><a href="# ">7</a></li>
          <li><a href="# ">8</a></li>
          <li><a href="# ">9</a></li>
          <li><a href="# ">10</a></li>
          <li><a href="# ">11</a></li>
          <li><a href="# ">12</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 ">
      <form method="POST " action="multiDelete.php ">
        <table class="table table-bordered ">
          <thead>
            <tr>
              <th scope="col ">#</th>
              <th scope="col ">First</th>
              <th scope="col ">Last</th>
              <th scope="col ">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row ">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row ">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row ">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="profile-navigation d-flex justify-content-center mt-4 ">
    <nav aria-label="Page navigation example ">
      <ul class="pagination2 ">
        <li class="page-item "><a class="page-link langlao " href="# ">ກັບຄືນ</a></li>
        <li class="page-item "><a class="page-link " href="# ">1</a></li>
        <li class="page-item "><a class="page-link " href="# ">2</a></li>
        <li class="page-item "><a class="page-link " href="# ">3</a></li>
        <li class="page-item "><a class="page-link langlao " href="# ">ຕໍ່ໄປ</a></li>
      </ul>
    </nav>
  </div>
</div>
