<div class="scrolling-wrapper">
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
    <div class="card">
        <p class="color-head-transfer text-center">Date:15/12/2018</p>
        <p class="color-content-transfer text-center">Topup: 100,000</p>
        <p class="color-content-transfer text-center">To: 02054445447</p>
        <p class="color-content-transfer text-center">Balance: 500,000</p>
    </div>
</div>