<div class="container border-register">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
            <h3 class="text-center display-7">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h5 class="text-center display-5 langlao">ແອັດມິນ ປະຫວັດການເຕີມເງິນ</h5>
            <input class="form-control" value="Total Transfer: 200,000" disabled>
            <input class="form-control mt-4" value="Total Share: 200,000" disabled>
            <div class="d-flex justify-content-center input-group hidden-xs mt-4">
                <button class="main-bg-color btn-custom border-radius-topup-left "><i>2017</i></button>
                <button class="main-bg-color btn-custom border-left-0 border-right-0"><i>2018</i></button>
                <button class="main-bg-color btn-custom border-radius-topup-right "><i>2019</i></button>
            </div>


            <!-- mobile -->
            <div class="d-flex justify-content-center d-xl-none d-lg-none d-md-none mt-4 ">
                <div class="topup-mobile ">
                    <button class="main-bg-color btn-mobile "><i>2017</i></button>
                    <button class="main-bg-color btn-mobile "><i>2018</i></button>
                    <button class="main-bg-color btn-mobile "><i>2019</i></button>
                </div>
            </div>
            <!-- end-mobile -->


            <div class="col-12 mt-2 mb-2 ">
                <div class="months ">
                    <nav>
                        <ul class="pagination">
                            <li><a href="# ">1</a></li>
                            <li><a href="# ">2</a></li>
                            <li><a href="# ">3</a></li>
                            <li><a href="# ">4</a></li>
                            <li><a href="# ">5</a></li>
                            <li><a href="# ">6</a></li>
                            <li><a href="# ">7</a></li>
                            <li><a href="# ">8</a></li>
                            <li><a href="# ">9</a></li>
                            <li><a href="# ">10</a></li>
                            <li><a href="# ">11</a></li>
                            <li><a href="# ">12</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-4">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="input-group">
                        <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
                        <button class="btn-font-color-search btn-search" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <div class="col-xl-8 col-lg-8 col-md-9 col-12 scrolling-wrapper mt-3">
            <div class="card">
                <div class="col-12">
                    <form method="POST " action="">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="main-bg-color" scope="col ">Request</th>
                                    <th class="main-bg-color" scope="col ">Certified</th>
                                    <th class="main-bg-color" scope="col ">Submited</th>
                                    <th class="main-bg-color" scope="col ">Checked</th>
                                    <th class="main-bg-color" scope="col ">Certified</th>
                                    <th class="main-bg-color" scope="col ">Approve</th>
                                    <th class="main-bg-color" scope="col ">Approve</th>
                                    <th class="main-bg-color" scope="col ">Fr....</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row ">100,000</th>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                </tr>
                                <tr>
                                    <th scope="row ">100,000</th>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                </tr>
                                <tr>
                                    <th scope="row ">100,000</th>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="col-12">
                    <form method="POST " action="">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="main-bg-color" scope="col ">Request</th>
                                    <th class="main-bg-color" scope="col ">Certified</th>
                                    <th class="main-bg-color" scope="col ">Submited</th>
                                    <th class="main-bg-color" scope="col ">Checked</th>
                                    <th class="main-bg-color" scope="col ">Certified</th>
                                    <th class="main-bg-color" scope="col ">Approve</th>
                                    <th class="main-bg-color" scope="col ">Approve</th>
                                    <th class="main-bg-color" scope="col ">Fr....</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row ">100,000</th>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                </tr>
                                <tr>
                                    <th scope="row ">100,000</th>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                    <td>02/05/18</td>
                                </tr>
                                <tr>
                                    <th scope="row ">100,000</th>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                    <td>100,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>