<div class="container border-register">
    <ngx-loading [show]="loading" [config]="{ 
            backdropBorderRadius: '14px',fullScreenBackdrop:true,
            backdropBackgroundColour: 'rgb(240, 77, 213, 0.377)',
            primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' 
        }">
        0000000000000
    </ngx-loading>

    <h3 class="text-center display-7 mb-4">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
    <h1 class=" langlao display-5 text-center">User-Balance</h1>
    <div class="div d-flex justify-content-center">
        <div class="row">
            <div class="col-12 head-ubalance mt-3 mb-4">
                <button class="btn main-bg-color " [routerLink]="['/hometopup']" style="width:100%;">Home</button>
            </div>
            <div class="col-12">
                <p class="input-group"><b class="mt-1 langlao">ເງິນໃນບັນຊີ: </b> <input name="phone" [ngModel]='_currentUserdetail.totalgij' placeholder="ກຳລັງດຳເນີນການ..." class="form-control bg-form langlao" disabled> </p>
            </div>
            <div class="col-12">
                <p class="input-group"><b class="mt-1 langlao">Total spent: </b> <input name="phone" [ngModel]='_currentUserdetail.totalgijspent' placeholder="ກຳລັງດຳເນີນການ..." class="form-control bg-form langlao" disabled> </p>
            </div>
            <div class="col-12">
                <p class="input-group"><b class="mt-1 langlao">Total recharged: </b> <input name="phone" [ngModel]='_currentUserdetail.totalgij' placeholder="ກຳລັງດຳເນີນການ..." class="form-control bg-form langlao" disabled> </p>
            </div>
            <div class="col-12 mt-3">
                <button class="btn main-bg-color-right " style="width:100%">Recharge</button>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-xl-8 col-lg-8 col-md-9 col-12">
            <div class="input-group">
                <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
                <button class="btn-font-color-search btn-search" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-xl-8 col-lg-8 col-md-9 col-12">
            <table-history></table-history>
        </div>
    </div>
    <div class="col-xl-8 offset-xl-2 col-12 mb-5 ">
        <div class="months ">
            <nav>
                <ul class="pagination">
                    <li><a href="# ">1</a></li>
                    <li><a href="# ">2</a></li>
                    <li><a href="# ">3</a></li>
                    <li><a href="# ">4</a></li>
                    <li><a href="# ">5</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>