<div class="container border-register">
    <h3 class="text-center display-7 mb-4">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
    <h1 class=" langlao display-5 text-center mb-4">ລາຍການເຄື່ອນໄຫວ</h1>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-xl-8 col-lg-8 col-md-9 col-12">
            <div class="input-group">
                <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
                <button class="btn-font-color-search btn-search" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <div class="col-xl-10 col-lg-11 col-md-12 col-12 scrolling-wrapper mt-3">
            <div class="card">
                <div class="col-12">
                    <form method="POST " action="">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="main-bg-color text-center" scope="col" id="width-admin-history"><input type="checkbox"></th>
                                    <th class="main-bg-color" scope="col ">Request</th>
                                    <th class="main-bg-color" scope="col ">Submited</th>
                                    <th class="main-bg-color" scope="col ">Checked</th>
                                    <th class="main-bg-color" scope="col ">Certified</th>
                                    <th class="main-bg-color" scope="col ">Approve</th>
                                    <th class="main-bg-color" scope="col " id="width-admin-history">From</th>
                                    <th class="main-bg-color" scope="col " id="width-admin-history">To</th>
                                    <th class="main-bg-color" scope="col ">By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center" scope="row "><input type="checkbox"></th>
                                    <td>100,000</td>
                                    <td>12/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>User1</td>
                                    <td>User2</td>
                                    <td>Admin</td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row "><input type="checkbox"></th>
                                    <td>100,000</td>
                                    <td>12/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>User1</td>
                                    <td>User2</td>
                                    <td>Admin</td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row "><input type="checkbox"></th>
                                    <td>100,000</td>
                                    <td>12/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>User1</td>
                                    <td>User2</td>
                                    <td>Admin</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="col-12">
                    <form method="POST " action="">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="main-bg-color text-center" scope="col" id="width-admin-history"><input type="checkbox"></th>
                                    <th class="main-bg-color" scope="col ">Request</th>
                                    <th class="main-bg-color" scope="col ">Submited</th>
                                    <th class="main-bg-color" scope="col ">Checked</th>
                                    <th class="main-bg-color" scope="col ">Certified</th>
                                    <th class="main-bg-color" scope="col ">Approve</th>
                                    <th class="main-bg-color" scope="col " id="width-admin-history">From</th>
                                    <th class="main-bg-color" scope="col " id="width-admin-history">To</th>
                                    <th class="main-bg-color" scope="col ">By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center" scope="row "><input type="checkbox"></th>
                                    <td>100,000</td>
                                    <td>12/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>User1</td>
                                    <td>User2</td>
                                    <td>Admin</td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row "><input type="checkbox"></th>
                                    <td>100,000</td>
                                    <td>12/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>User1</td>
                                    <td>User2</td>
                                    <td>Admin</td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row "><input type="checkbox"></th>
                                    <td>100,000</td>
                                    <td>12/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>13/12/2017</td>
                                    <td>User1</td>
                                    <td>User2</td>
                                    <td>Admin</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-navigation d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link langlao" href="#">ກັບຄືນ</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link langlao" href="#">ຕໍ່ໄປ</a></li>
            </ul>
        </nav>
    </div>
</div>