<div class="container border-register">
    <h3 class="text-center display-7 mb-4">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
    <h1 class=" langlao display-5 text-center">User-Recharge</h1>
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-12">
            <div class="col-12 head-ubalance mt-3 mb-2">
                <button class="btn main-bg-color " [routerLink]="['/hometopup']" style="width:100%;">Home</button>
            </div>
            <div class="col-12 mt-2">
                <p> Request, 4/4/2018</p>
            </div>
            <div class="col-12 input-group mt-2">
                <input class="col-3 form-control" type="number" placeholder="50.00">
                <input class="col-9 form-control ml-4" type="text" placeholder="ref N#">
            </div>
            <div class="col-12 input-group mt-4">
                <input class="col-6 form-control" type="text" placeholder="To user:...">
                <input class="col-6 form-control ml-4" type="text" placeholder="Phone Number:...">
            </div>
            <div class="col-8 offset-2 mt-4">
                <textarea class="form-control langlao text-center" name="" id="" cols="30" rows="10" placeholder="ເນື້ອໃນ"></textarea>
            </div>
            <div class="col-8 offset-2 mt-4">
                <input class="form-control" type="text" placeholder="*CAPTCHA">
            </div>
            <div class="col-12">
                <h4 class="text-center display-5 mt-5"><i class="captcha-border main-bg-color p-3">Captcha</i></h4>
            </div>
            <div class="col-12 head-ubalance mt-5">
                <button class="col-8 offset-2 btn main-bg-color " [routerLink]="['/hometopup']" style="width:100%;">REQUEST</button>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-xl-8 col-lg-8 col-md-9 col-12">
            <div class="input-group">
                <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
                <button class="btn-font-color-search btn-search" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-xl-8 col-lg-8 col-md-9 col-12">
            <table-history></table-history>
        </div>
    </div>
    <div class="col-xl-8 offset-xl-2 col-12 mb-5 ">
        <div class="months ">
            <nav>
                <ul class="pagination">
                    <li><a href="# ">1</a></li>
                    <li><a href="# ">2</a></li>
                    <li><a href="# ">3</a></li>
                    <li><a href="# ">4</a></li>
                    <li><a href="# ">5</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>