.input-group button {
    width: 40% !important;
}

.rounded-circle {
    width: 150px;
    height: 150px;
}

.d-block {
    width: 48%;
}

.d-flex a {
    cursor: pointer;
}

#uploadphoto {
    cursor: pointer;
}
.form-control{
    font-size: 9pt;
}
.bg-scan-QR-code{
    background-color: rgb(245, 236, 236) !important;
}