<div class="container mt-0">
  <h5 class=" langlao display-7 text-center mb-3">ລະບົບ PAY-CHEAP-HGT<i class="fas fa-leaf" id="register-color-icon"></i></h5>
  <div class="row d-flex justify-content-center">
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-10">
      <div class="main-bg-color d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/all-menu']">
        <a id="padding-item" class="nav-link main-bg-color text-center "><i class="fas fa-exchange-alt"></i><br>
          <span class="langlao">ລະບົບເຕີມເງີນ</span>
        </a>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-10">
      <div class="bg-success d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/g-all-menu-forgit']">
        <a id="padding-item" class="nav-link bg-success-inside text-center "><i class="fas fa-briefcase"></i><br>
          <span class="langlao">ລະບົບກະເປົ໋າເງິນ Git</span>
        </a>
      </div>
    </div>
    <div class="font-size-items col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-10">
      <div class="bg-info d-flex justify-content-center align-items-center cursor" [routerLink]="[ '/welcome-shopping']">
        <a id="padding-item" class="nav-link bg-info-inside text-center "><i class="fas fa-briefcase"></i><br>
          <span class="langlao">Shopping Online</span>
        </a>
      </div>
    </div>
  </div>

</div>
