<div class="container">
  <h3 class="text-center langlao">Pay-Money</h3>

  <div class="row mt-3">
    <div class="col-lg-8 offset-lg-2 bg-detail-gPay">
      <div class="row langlao edit-font-gPay">
        <div class="col-lg-6">
          <div class="form-group">
            <label for=""><i class="fas fa-id-card-alt"></i> ໄອດີຂອງຂ້ອຍ</label>
            <input class="form-control" type="text" value="1233465489">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for=""><i class="fas fa-id-card-alt"></i> ໄອດີຜູ້ຮັບ</label>
            <input class="form-control" type="text" value="5648924658">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for=""><i class="fas fa-dice-one"></i> ຊື່ບັນຊີ</label>
            <input class="form-control" type="text" value="ທ້າວ ກ ຂ ຄ">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for=""><i class="fas fa-dice-one"></i> ຊື່ຜູ້ຖຶກຮັບຊຳລະ </label>
            <input class="form-control" type="text" value="ນາງ ກ ຂ ຄ">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 ">
      <div class="row">
        <div class="table langlao table-responsive">
          <table class="table bg-list-gPay">
            <thead>
              <tr class="bg-result-money">
                <th scope="col" style="min-width: 50px"><i class="fab fa-slack-hash"></i> ລ/ດ</th>
                <th scope="col" style="min-width: 120px"><i class="fab fa-product-hunt"></i> ຊື່ສິນຄ້າ</th>
                <th scope="col"><i class="fas fa-dollar-sign"></i> ລາຄາ</th>
                <th scope="col"><i class="fas fa-box"></i> ຈຳນວນ</th>
                <th scope="col"><i class="fas fa-hand-holding-usd"></i> ລວມ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>ຄອມຕັ້ງໂຕະ</td>
                <td>1,000</td>
                <td>2</td>
                <td>2,000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mouse</td>
                <td>300</td>
                <td>4</td>
                <td>1,200</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>USB</td>
                <td>150</td>
                <td>1</td>
                <td>150</td>
              </tr>
              <tr class="bg-result-money">
                <td class="text-right font-12pt" colspan="3">ລວມເງິນທີ່ຕ້ອງຈ່າຍ</td>
                <td class="text-center font-12pt" colspan="2">3,350</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-success d-block mx-auto langlao fon-10pt p-3"><i class="far fa-check-circle"></i>
    ຊຳລະສິນຄ້າ</button>

</div>
