<div class="container">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h5 class="text-center display-5 langlao">ສ້າງບັນຊີຂອງທ່ານ</h5>
            <form action="">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="username">ກະລຸນາປ້ອນຊື່*</label>
                <input name="username" (value)="_newUser.data['user']===undefined? '' : _newUser.data['user'].username" (input)="_newUser.data['user'].username=$event.target.value" type="text" placeholder="Username" class="form-control" required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="phonenumber">ເບີໂທລະສັບ (+85620)* </label>
                <input name="phonenumber" (value)="_newUser.data['user'].phonenumber===undefined? '' : _newUser.data['user'].phonenumber" (input)="_newUser.data['user'].phonenumber=$event.target.value" type="number" maxlength="10" placeholder="phonenumber: 205 or 209"
                    class="form-control" required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="rpassword">ລະຫັດຜ່ານ*</label>
                <span class="input-group">
                    <input name="rpassword" (value)="_newUser.data['user'].password===undefined? '' : _newUser.data['user'].password" (input)="_newUser.data['user'].password=$event.target.value"
                    type="password" placeholder="password" class="form-control" required><button class="radius-show">Show</button>                        
                </span>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="rconfirmpassword">ຢັ້ງຢືນລະຫັດຜ່ານ*</label>
                <input (value)="_newUser.data['user'].confirmpassword===undefined? '' : _newUser.data['user'].confirmpassword" (input)="_newUser.data['user'].confirmpassword=$event.target.value" name="rconfirmpassword" type="password" placeholder="confirm password" class="form-control"
                    required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="secret">Secret*</label>
                <input name="secret" minlength="10" maxlength="10" [value]="_newUser.data['secret']===undefined? '' : _newUser.data['secret']" (input)="_newUser.data['secret']=$event.target.value" (keyup)="checkSecret($event)" maxlength="6" type="number" placeholder="secret"
                    class="form-control" required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="btnGetSecret"></label>
                <button (click)="getSecret()" name="btnGetSecret" class="btn btn-info mt-3">get secret</button>
                <label for="submit"></label>
                <button (click)='register()' name="submit" class="btn main-bg-color btn-block mt-3 langlao">ລົງທະບຽນ</button>
                <br><br>
                <h5 class="text-center langlao display-6">----- ຂ້ອຍມີບັນຊີແລ້ວ -----</h5>
                <button class="btn main-bg-color-right langlao" style="width:100%" [routerLink]="['/login']">ເຂົ້າສູ່ລະບົບ</button>
                <br>
            </form>
        </div>
    </div>
</div>

<!-- the tag below make for alert  -->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-center langlao">ລົງທະບຽນ</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p class="text-center langlao">ສຳເລັດການລົງທະບຽນ ກະລຸນາເຂົ້າສູ່ລະບົບອີກຄັ້ງ&hellip;</p>
        <p class="text-center langlao">ຂໍຂອບໃຈ&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light langlao" (click)="c('Close click')">ຕົກລົງ</button>
    </div>
</ng-template>

<!-- the tag below make for alert key empty -->

<ng-template #keyempty let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title langlao"><b class="text-center"></b></h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p class="text-center langlao">ກະລຸນາ ປ້ອນຂໍ້ມູນໃຫ້ຄົບຖ້ວນ</p>
        <p class="text-center langlao">ຂໍຂອບໃຈ&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light langlao" (click)="c('Close click')">ຕົກລົງ</button>
    </div>
</ng-template>