.radius-show {
    border-left: none !important;
    border-bottom: none;
    border-right: none;
    border-radius: 0px 20px 20px 0px;
}

.main-bg-color-right {
    /* background: linear-gradient(to right, rgb(238, 7, 238), rgb(165, 4, 138)) !important; */
    background: rgb(221, 218, 218);
    color: rgb(51, 50, 50) !important;
}

.main-bg-color-right:hover {
    /* background: linear-gradient(to right, rgb(185, 8, 185), rgb(230, 26, 196)) !important; */
    background: rgb(204, 202, 202);
    color: rgb(24, 23, 23) !important;
}